<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>创建专栏 </title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="../common/img/favicon.ico" type="image/x-icon">
    <link href="css/open-up.css" rel="stylesheet" />
    <link href="../common/css/common.css" rel="stylesheet" />
    <link href="../common/css/bootstrap.min.css" rel="stylesheet" />
</head>

<body>
    <div id="app">
        <!--头部-->
        <div class="header">
            <!--logo-->
            <a href="../index.html" class="logo"><img src="../common/img/logo01.png" alt=""></a>
            <!--logo-->

            <!-- 导航-->
            <ul class="header-nav">
                <li><a href="../forum/index.html">社区</a></li>
                <li><a href="../ask/index.html">问答</a></li>
                <li><a href="../blog/index.html">专栏</a><img src="../common/img/gif.gif" alt=""></li>
                <li><a href="">技能树</a></li>
                <li><a href="">讨论</a></li>
            </ul>
            <!-- 导航-->

            <div class="header-icon">
                <img src="../common/img/top-icon01.png" alt="">
                <img src="../common/img/top-icon02.png" alt="">
            </div>
        </div>
        <!--头部-->

        <!--主体-->
        <div class="main" style="margin-top:20px">
            <div class="content">
                <!--最新消息-->
                <div class="main02">
                    <div class="main02-content">
                        <div class="main02-left">
                            <div class="main-title" style="margin-bottom:10px"><input type="text" placeholder="请输入专栏标题" v-model="topic.name"><span :style="topic.name.length>7?'color:red':''">({{topic.name.length}}/7)</span></div>
                            <textarea name="" id="" cols="30" rows="10" placeholder="请输入专栏简介" v-model="topic.remark"></textarea>
                            <div class="upload-img">
                                <div v-if="image.length==0">
                                    <h3>
                                        <img src="../common/img/icon15.png" alt="" style="position: absolute;z-index: 0;margin-top: 38px">
                                        <iframe scrolling="no" style="width: 55px;height: 56px;position: relative;z-index: 999;" frameborder="0" :src="Web.host+'/admin/page/fileupload2.jsp?tableId=UploadImg&img=&objName=UploadImg'"></iframe>
                                    </h3>
                                    <p>请上传专栏背景图片（固定比例742：218)</p>
                                </div>
                                <div v-else>
                                    <img :src="Web.getSrc(image[image.length-1].imgSrc)" alt="" style="position: absolute;z-index: 0;margin: 0px -345px;width:742px;height: 218px;">
                                    <iframe scrolling="no" style="width: 55px;height: 56px;position: relative;z-index: 999;margin-top: 70px;" frameborder="0" :src="Web.host+'/admin/page/fileupload2.jsp?tableId=UploadImg&img=&objName=UploadImg'"></iframe>
                                </div>
                            </div>

                            <h3>限制关注</h3>
                            <div class="open-up-div">
                                <p @click="check_img()" id="close"><img src="../common/img/icon-02.png" alt="">关闭</p>
                                <p @click="check_img()" id="open"><img src="../common/img/icon-02.png" alt="">开启</p>
                                <div class="ask-price" style="display: none;"><span>关注需花费</span>
                                    <button style="border-radius:4px 0 0 4px" @click="reduce()">-</button>
                                    <input type="text" placeholder="0" v-model="topic.follow_money">
                                    <button style="background-color: #5190d4;border-radius:0 4px 4px 0" @click="add()">+</button>
                                    <span style="cursor: pointer" @click="slide()">金币</span>
                                    <ul>
                                        <li v-for="filter in filters" @click="filter_slide()">{{filter}}</li>
                                    </ul>
                                </div>
                            </div>
                        </div>


                        <div calass="main02-right " style="width:400px;">
                            <div class="right-btn">
                                <button @click="tip_show()">申请创建专栏</button>
                                <span @click="goback()">放弃并返回首页</span>
                                <p>开通专栏捋花费50金币</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--最新消息-->
        </div>
        <!--主体-->

        <!--底部-->
        <div class="footer">
            <div class="content" style="overflow:hidden">
                <p>Redis 现在得Stable 版本是4.0.11，对Redis比较关注的童鞋都知道，4.0引入了 Module.我们先一起你看看Redis 4.0都更新了啥</p>
                <ul class="footer-ul">
                    <li><img src="../common/img/footer-icon01.png" alt=""></li>
                    <li><img src="../common/img/footer-icon02.png" alt=""></li>
                    <li><img src="../common/img/footer-icon03.png" alt=""></li>
                    <li><img src="../common/img/footer-icon04.png" alt=""></li>
                    <li><img src="../common/img/footer-icon05.png" alt=""></li>
                </ul>

                <ul class="footer-contact">
                    <li><img src="../common/img/footer-icon06.png" alt=""><span>上海市 长宁区 国际大厦</span></li>
                    <li><img src="../common/img/footer-icon07.png" alt="">
                        <span>65865635@168.com</span></li>
                    <li><img src="../common/img/footer-icon08.png" alt=""><span>021-9999</span></li>
                </ul>
            </div>
        </div>
        <!--底部-->

        <!--提示框-->
        <div class="tip-wrap tip-wrap1">
            <div class="tip-null" @click="tip_null()"></div>
            <div class="tip-inner">
                <h3>确认申请开通专栏</h3>
                <p style="margin-bottom:40px;">{{msg}}</p>
                <p>开通专栏将花费50金币 </p>
                <p style="margin-bottom:50px">工作人员会在一到两个工作日内处理您的申请</p>
                <div class="tip-button"><button @click="tip_null()">继续修改</button><button @click="tip_submit()">确认提交</button></div>
            </div>
        </div>

        <div class="tip-wrap tip-wrap2">
            <div class="tip-null" @click="tip_null()"></div>
            <div class="tip-inner">
                <h3>提交申请成功</h3>
                <p style="margin:60px 0">工作人员会在一到两个工作日内处理您的申请 </p>
                <div class="tip-button"><a href="index.html">返回专栏首页</a>
                </div>
            </div>
            <!--提示框-->
        </div>
    </div>

    <script src="../common/js/jquery.min.js"></script>
    <script src="../common/js/bootstrap.min.js"></script>
    <script src="../common/js/vue.min.js"></script>
    <script src="../common/js/store.min.js"></script>
    <script src="../common/js/web.js"></script>
    <script src="js/open-up.js"></script>
    <script>
        function uploadCallback(obj) {
            console.log(obj)
            app.uploadCallback(obj);
        }
    </script>
</body>

</html>
