

<!DOCTYPE HTML>

<html lang="en">
<script type="text/javascript" src="js/ThreeWebGL.js"></script>
<script type="text/javascript" src="js/ThreeExtras.js"></script>
<script type="text/javascript" src="js/RequestAnimationFrame.js"></script>
<script type="text/javascript" src="js/Detector.js"></script>
<head>

    <title>main</title>

    <meta charset="utf-8">
</head>
<body>
<div id="app">
    <div class="main">
        <div class="top" style="margin:2%">
            <span style="font-size: 20px;text-align: center;">welcome my memory</span><br>
            <input v-model="who" style="margin-top: 10px;" placeholder="我是谁" ><br>
            <input v-model="color" style="margin-top: 10px;" placeholder="我喜欢的颜色" ><br>
            <button  style="background-color: #555555;margin-top: 10px;border: none;color: white;" @click="check()">进入</button>
        </div>
    </div>
</div>



<script src="js/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/vue.min.js"></script>
<script src="js/index/index.js"></script>

</body>

</html>
