[v-cloak] {
    display: none;
}

/* css reset */

html,
body {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    user-select: none;
    color: #333;
    outline: none;
}

body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
fieldset,
input,
textarea,
p,
blockquote,
th,
td {
    padding: 0;
    margin: 0;
    font-family: "Microsoft YaHei", 微软雅黑;
}

fieldset,
img {
    border: 0;
    outline: medium none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer;
    outline: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

ol,
ul {
    list-style: none;
}

address,
caption,
cite,
code,
dfn,
em,
th,
var {
    font-weight: normal;
    font-style: normal;
}

caption,
th {
    text-align: left;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
    font-size: 100%;
}

q:before,
q:after {
    content: '';
}

abbr,
acronym {
    border: 0;
}

[hidden],
script {
    display: none;
}

a {
    text-decoration: none!important;
    outline: medium none;
}

input,
textarea {
    outline: medium none;
}

img {
    vertical-align: middle;
    max-width: 100%;
    /*    display: block;*/
    height: auto;
    margin: auto;
}

.content {
    width: 1200px;
    margin: 0 auto;
}


/*头部*/

.header {
    height: 200px;
    width: 100%;
    background:url('../img/diaplay.gif') no-repeat center ;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    padding: 25px 60px;
    z-index: -99;
}

.logo {
    height: 27px;
    width: 165px;
    overflow: hidden;
}


/*导航*/

.header-nav {
    margin-top: 120px;
}

.header-nav li {
    height: 100%;
    font-size: 14px;
    float: left;
    margin-right: 70px;
    font-weight: bold;
}

.header-nav li img {
    display: block;
}

.header-nav a {
    color: #fff;
}

.header-nav a:hover {
    color: #fff;
}

.header-icon img {
    float: left;
    margin-left: 40px;
    display: block;
    height: 29px;
    cursor: pointer;
}


